.userListContainer{
    background-color: rgb(255,255,255);
    border-left: 1px solid rgba(0,0,0,0.13);
    margin: 0;
    padding: 0;
    width: 80vw;
    background-color: skyblue;
    padding-top: 10rem;
}
#userListHeading{
    font: 900 7rem 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    margin: auto;
    margin-top: 3rem;
    width: 45%;
}
table{
    table-layout: fixed;
    margin-top: 0;
}
.id{
    font-size: 0.9rem;
}
button:hover{
    color: tomato;
}
.swal2-popup {
    font-size: 20px;
}
@media (max-width:860px) {
    .userListContainer{
        width: 100vw;
        border-top: 0.1rem solid black;
    }
}
@media (max-width:568px) {
    .noOrders p {
        font-size: 5.5rem;
    }

    #orderListHeading {
        font-size: 3.5rem;
    }

}