.updateProfileContainer{
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: skyblue;
}
.updateProfileBox{
    background-color: white;
    width: 30vw;
    height: 75vh;
    box-sizing: border-box;
    overflow: hidden;
    border: 0.1rem solid black;
}
.updateProfileBox h1{
    color: rgba(0,0,0,0.664);
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 60%;
    margin: auto;
    font-size: 2.9rem;
    font-weight: 600;
    padding: 2.4rem 0;
}
.updateProfileForm{
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: auto;
    padding: 4rem;
    transition: 0.5s linear;
}
.updateProfileForm div{
    display: flex;
    width: 100%;
    align-items: center;
    margin: 1rem 0;
}
.updateProfileForm div input{
    font-size: 2rem;
    box-sizing: border-box;
    width: 100%;
    border: 0.1rem solid black;
    outline: none;
    border-radius: 0.4rem;
    padding: 2rem 4rem;
    padding-right: 1rem;
}
.updateProfileForm div svg{
    position: absolute;
    transform: translateX(1rem);
    font-size: 2.5rem;
    color: crimson;
}
#updateProfileImage img{
    width: 8rem;
    height: 8rem;
    border-radius: 100%;
}
#updateProfileImage input{
    display: flex;
    padding: 1rem 0.5rem;
    margin-left: 0.5rem;
    border: 0.1rem solid black;
}
.updateProfileBtn{
    border: none;
    outline: none;
    color: white;
    background-color: crimson;
    font-weight: 300;
    font-size: 2.5rem;
    width: 100%;
    cursor: pointer;
    border-radius: 0.4rem;
    padding: 1.5rem;
    transition: 0.5s linear;
    box-shadow: 0 0.2rem 0.5rem rgba(0,0,0,0.219);
}
.updateProfileBtn:hover{
    background-color: rgb(34, 33, 33);
}
.swal2-popup {
    font-size: 2.5rem;
}

@media (max-width:1650px) {
    .updateProfileBox{
        width: 30vw;
    }
}

@media (max-width:1500px) {
    .updateProfileBox{
        width: 32vw;
    }
}
@media (max-width:1350px) {
    .updateProfileBox{
        width: 35vw;
    }
}
@media (max-width:1200px) {
    .updateProfileBox{
        width: 40vw;
    }
}
@media (max-width:1000px) {
    .updateProfileBox{
        width: 45vw;
    }
}
@media (max-width:900px) {
    .updateProfileBox{
        width: 50vw;
    }
}
@media (max-width:768px) {
    .updateProfileBox{
        height: 65vh;
    }
    .updateProfileForm div input{
        font-size: 2.5rem;
    }
    .updateProfileBox h1{
        font-size: 3.4rem;
    }
    .updateProfileBtn{
        font-size: 3rem;
        margin-top: 3rem;
    }
}
@media (max-width:650px) {
    .updateProfileBox{
        width: 60vw;
    }
}
@media (max-width:568px) {
    .updateProfileBox{
        height: 50vh;
    }
    .updateProfileBox h1{
        font-size: 3.4rem;
    }
    .updateProfileForm div input{
        font-size: 2.5rem;
        padding-left: 6rem;
    }
    .updateProfileForm div svg{
        font-size: 3.5rem;
    }
    .updateProfileBtn{
        font-size: 4rem;
    }
}
@media (max-width:450px) {
    .updateProfileBox{
        width: 70vw;
        height: 50vh;
    }
}
@media (max-width:400px) {
    .updateProfileBox{
        height: 40vh;
    }
}